/*  
    #212121
    #2196F3
    #000000
    #FFFFFF
    rgba(255, 255, 255, 0,6)
    line height auto = 1.2
    line height / font size = *line height
    'Raleway'
    button font family inherit 
*/
:root {
  --primary-txt-color: #757575;
  --title-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-secondary-color: rgba(255, 255, 255, 0.6);
  --footer-tertiary-color: rgba(255, 255, 255, 0.1);
  --bg-main-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --border-filter-box: #eeeeee;
  --border-bottom-for-nav: #ececec;
  --icon-main-color: #afb1b8;
}

html {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin: auto;
}
.section {
  padding: 94px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
p {
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-txt-color);
  font-size: 14px;
  line-height: 1.2;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* header */
.logo {
  color: var(--primary-black-color);
  text-decoration: none;
  font-size: 26px;
  /* 31 / 26 ~ 1.19 */
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.logo .logo-accent {
  color: var(--accent-txt-color);
}
header {
  border-bottom: 1px solid var(--border-bottom-for-nav);
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 70px;
}
.site-nav__unit:not(:last-child) {
  margin-right: 40px;
}
.site-nav__unit a {
  display: inline-block;
  color: var(--title-txt-color);
  text-decoration: none;
  padding: 32px 0px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__unit a:hover,
.site-nav__unit a:focus {
  color: var(--accent-txt-color);
}
header ul {
  font-weight: 500;
}
header .contact:hover,
header .contact:focus {
  color: var(--accent-txt-color);
  fill: var(--accent-txt-color);
}
header .contact {
  color: var(--primary-txt-color);
  text-decoration: none;
  fill: var(--primary-txt-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail,
.tel {
  display: flex;
  align-items: center;
}
.contact-icon {
  margin-right: 10px;
}
.site-nav__unit .current {
  color: var(--accent-txt-color);
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .contact__unit:not(:last-child) {
  margin-right: 30px;
}
.header-contacts .contact__unit + .contact-unit {
  margin-left: 15px;
}

/* header end */

.title.hidden-title {
  color: var(--primary-white-color);
}

.title {
  color: var(--title-txt-color);
}

.business-solutions {
  background-color: var(--bg-main-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/heroimg.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.main-header {
  text-align: center;
  padding-bottom: 30px;
  color: var(--primary-white-color);
  line-height: 1.36;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
}
.button {
  color: var(--title-txt-color);
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button.button {
  padding: 10px 32px;
  margin-right: 0;
}

.main-button.button,
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-txt-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.business-solutions.section {
  padding: 200px 0px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

.ocupation__list {
  display: flex;
}
.ocupation__unit:not(:last-child) {
  margin-right: 30px;
}

.ocupation__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--button-bg-color);
  height: 120px;
  margin-bottom: 30px;
}
.ocupation__svg svg {
  width: 70px;
  height: 70px;
}

.ocupation-pics.section {
  padding-top: 0px;
}
.ocupation-pics__block {
  display: flex;
}
.ocupation-pics__block li:not(:last-child) {
  margin-right: 30px;
}
.ocupation-pics .title {
  font-size: 36px;
  /* line height 42 / font size 36 = ~1.17 */
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.ocupation__title.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ocupation-pics__block li {
  position: relative;
}
.ocupation-pics__unit p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;

  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: calc(16 / 14);

  color: var(--primary-white-color);
}
.team {
  background-color: var(--button-bg-color);
}
.team__list {
  display: flex;
}
.team__unit:not(:last-child) {
  margin-right: 30px;
}

.team .title {
  font-size: 36px;
  /* line height 42 / font size 36 = ~1.17 */
  line-height: 1.17;
  text-align: center;
}

.team h2 {
  margin-bottom: 50px;
}
.team-box {
  padding: 30px 0px;
}
.team__unit .title.unit-name {
  font-size: 16px;
  font-weight: 500;
  /* 19 / 16 ~1.19 */
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__unit {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.team__unit .position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.hot-links {
  display: flex;
  justify-content: center;
}
.hot-links__unit {
  display: flex;
}
.hot-links__unit:not(:last-child) {
  margin-right: 10px;
}
.hot-links__unit a {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  fill: var(--icon-main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hot-links__unit a:hover,
.hot-links__unit a:focus {
  background-color: var(--accent-txt-color);
  fill: var(--primary-white-color);
}
.hot-icon {
  width: 20px;
  height: 20px;
}
.constant-clients__header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(36 / 42);
  margin-bottom: 50px;
}
.constant-clients__list {
  display: flex;
}
.constant-clients__unit:not(:last-child) {
  margin-right: 30px;
}
.constant-clients__companies {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  fill: var(--icon-main-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.constant-clients__companies:hover,
.constant-clients__companies:focus {
  border: 1px solid var(--accent-txt-color);
  fill: var(--accent-txt-color);
}
.constant-clients__companies svg {
  width: 106px;
  height: 60px;
}
/* footer */

.footer {
  background-color: var(--bg-main-color);
  padding: 60px 0px;
}

footer .logo {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer__contacts {
  line-height: 1.71;
}
.footer__contacts li {
  margin-bottom: 9px;
}
.footer__contacts a {
  text-decoration: none;
}
address {
  font-style: normal;
}
address .map-mark {
  color: var(--primary-white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
address .map-mark:hover,
address .map-mark:focus,
address .contact:hover,
address .contact:focus {
  color: var(--accent-txt-color);
}
address .contact {
  color: var(--footer-secondary-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__join {
  display: block;
  margin-left: 70px;
}
.footer__join span {
  font-weight: 700;
  color: var(--primary-white-color);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.footer__join .hot-links__icon-link {
  background-color: var(--footer-tertiary-color);
  fill: var(--primary-white-color);
}

.footer .container {
  display: flex;
  justify-content: space-between;
}
.subscribe {
  margin-left: 93px;
}
.subscribe__header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.subscribe__wrapper {
  display: flex;
}
.subscribe__input {
  height: 50px;
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
  color: var(--primary-white-color);
}

.subscribe__input:focus {
  border: none;
  outline: 1px solid var(--accent-txt-color);
}

.subscribe__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;

  background: var(--accent-txt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}
.telegramm-span {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.telegramm-span svg {
  width: 24px;
  height: 24px;
}
/* footer end */

/* portfolio */

.filter__buttons,
.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter__buttons {
  margin-bottom: 50px;
}
.filter__buttons li:not(:last-child) {
  margin-right: 8px;
}
.filter__list {
  margin: -15px;
}
.list-unit {
  border: 1px solid var(--border-filter-box);
  width: 370px;
  margin: 15px;
}
.list-unit:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-unit__content {
  padding: 20px 24px;
}
.list-unit h2 {
  color: var(--title-txt-color);
  font-size: 18px;
  line-height: 1.71;
  margin-bottom: 4px;
}

.list-unit p {
  font-size: 16px;
  line-height: 1.6;
}
.filter__unit-active {
  position: relative;
  overflow: hidden;
}
.filter__unit-active p {
  position: absolute;

  top: 0;

  height: 100%;
  width: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.53;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-unit:hover .filter__active-text {
  transform: translateY(0);
}

/* portfolio end */

.visually-hidden,
.visually-hidden.title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 581px;
  min-width: 528px;
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-backdrop {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-backdrop svg {
  width: 18px;
  height: 18px;
}
.close-backdrop:hover {
  fill: var(--accent-txt-color);
}

.index-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.index-form__header {
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
}

.common-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.common-form svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
}
.common-form input {
  padding-left: 42px;
}
.common-input:focus {
  outline: 1px solid var(--accent-txt-color);
}
.common-input:focus + svg {
  fill: var(--accent-txt-color);
}
.index-form label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  width: 100%;
}
.index-form input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.index-checkbox-field {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
}

.index-checkbox-field label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.index-checkbox {
  display: flex;
  align-items: center;
}

.index-checkbox input {
  /* width: auto;
  height: 23px;
  margin-bottom: 4px; */

  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.agreement-check {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  background-color: var(--primary-white-color);
  border: 2px solid var(--primary-black-color);
  border-radius: 3px;
  left: -20px;
  top: 4px;
  line-height: 1;
}
.agreement-check svg {
  width: 16px;
  height: 15px;
}
.checkbox-itself:checked ~ .agreement-check {
  background-color: var(--accent-txt-color);
  border: none;
}

.agreement-link {
  color: var(--accent-txt-color);
}
.index-form textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.index-form-button {
  padding: 10px 55px;
  color: var(--primary-white-color);
  background-color: var(--accent-txt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  border: 0;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.strange-span {
  width: 18px;
  height: 18px;
}
