.constant-clients {
  &.section {
    padding: 60px 0;
  }
}
.constant-clients-list {
  margin: -15px;
}
.constant-clients-list__unit {
  margin: 15px;
  
  }
.constant-clients__header {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: calc(36 / 42);
  margin-bottom: 30px;
}
.constant-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.constant-clients-list__companies {
  width: 210px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  fill: var(--icon-main-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-txt-color);
    fill: var(--accent-txt-color);
  }
  svg {
    width: 106px;
    height: 60px;
  }
}

@media screen and (min-width:480px) {


}
  @media screen and (min-width:768px) {
    .constant-clients-list__companies {
      width: 226px;
    }

  }
  @media screen and (min-width:1200px) {
    .constant-clients {
      &.section {
        padding: 94px 0;
      }
    }
    .constant-clients__header {
      font-size: 36px;
      margin-bottom: 50px;
    }
    .constant-clients-list {
      flex-wrap: nowrap;
    }
    .constant-clients-list__companies {
      width: 170px;
      height: 92px;
    }
  }