.team {



    background-color: var(--button-bg-color);
    .title {
        font-size: 36px;
        /* line height 42 / font size 36 = ~1.17 */
        line-height: 1.17;
        text-align: center;
      }
      h2 {
        margin-bottom: 50px;
      }
  }

  .team-list__box {
    padding: 30px 0px;
  }

  .team-list__unit {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-white-color);
    .title.team-list__unit-name {
        font-size: 16px;
        font-weight: 500;
        /* 19 / 16 ~1.19 */
        line-height: 1.19;
        margin-bottom: 10px;
      }
      .team-list__position {
        font-size: 16px;
        line-height: 1.19;
        margin-bottom: 16px;
      }
      img {width: 100%;}
      
  }
  .team-list__unit:not(:last-child) {
    margin-bottom: 30px;
  }
  .hot-links {
    display: flex;
    justify-content: center;
  }
  .hot-links__unit {
    display: flex;
    &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        width: 44px;
        height: 44px;
        background-color: var(--primary-white-color);
        fill: var(--icon-main-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      a:hover,
      a:focus {
        background-color: var(--accent-txt-color);
        fill: var(--primary-white-color);
      }
  }



  .hot-links__svg {
    width: 20px;
    height: 20px;
  }


  @media screen and (min-width: 480px) { 

  }
  @media screen and (min-width: 768px) { 
    .team-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    .team-list__unit {
      &:not(:last-child) {
        margin-bottom: unset;
      }
      width: 354px;
      &:nth-child(odd) {
        margin-right: 15px;
      }
      &:nth-child(3),&:nth-child(4) {
        margin-top: 15px;
      }
    }


  }
  
  @media screen and (min-width: 1200px) { 

  .team-list {
    flex-wrap:nowrap;
  }
  .team-list__unit {
    width: 270px;
    &:nth-child(odd) {
      margin-right: unset;
    }
    &:nth-child(3), &:nth-child(4) {
      margin-top: unset;
    }

  }
  .team-list__unit {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  }