.ocupation-list {
  display: block;
}
.ocupation-list__unit:not(:last-child) {
  margin-bottom: 30px;
}
.ocupation.section {
  padding: 60px 0;
}
.ocupation-list__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--button-bg-color);
  height: 120px;
  margin-bottom: 30px;
  svg {
    width: 70px;
    height: 70px;
  }
}
.ocupation-list__title {
  text-align: center;
}


@media screen and (min-width: 480px) { 

}
@media screen and (min-width: 768px) { 
  .ocupation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ocupation-list__unit:not(:last-child) {
    margin-bottom: 0;
  }
  .ocupation-list__unit {
    width: 354px;
  }
  .ocupation-list__unit:nth-child(odd) {
    margin-right: 30px;
  }
  .ocupation-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) { 
  .ocupation-list__unit:not(:last-child) {
    margin-right: 0px;
  }

  .ocupation-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .ocupation-list__unit {
    width: 270px;
  }
  
}