/* header */
.logo {
  color: var(--primary-black-color);
  text-decoration: none;
  font-size: 26px;
  /* 31 / 26 ~ 1.19 */
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  .logo-accent {
    color: var(--accent-txt-color);
  }
}

.burger-open {
margin: 0;
padding: 0;
display: inline-block;
font-size: 0;
border-width: 0;
background-color: white;
}
.burger-open:hover,
.burger-open:focus {
  fill: var(--accent-txt-color);
  outline-color: var(--accent-txt-color);
  }
.burger-open__svg{
  width: 40px;
  height: 40px;
}

header {

  border-bottom: 1px solid var(--border-bottom-for-nav);
  .container {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
  }
}
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 70px;
  display: none;
}
.site-nav__unit {
  &:not(:last-child) {
    margin-right: 40px;
  }
  a {
    display: inline-block;
    color: var(--title-txt-color);
    text-decoration: none;
    padding: 32px 0px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  a:hover,
  a:focus {
    color: var(--accent-txt-color);
  }
  .current {
    color: var(--accent-txt-color);
    position: relative;
  }
}

header {
  ul {
    font-weight: 500;
  }
  .header-contacts__link:hover,
  .header-contacts__link:focus {
    color: var(--accent-txt-color);
    fill: var(--accent-txt-color);
  }
  .header-contacts__link {
    color: var(--primary-txt-color);
    text-decoration: none;
    fill: var(--primary-txt-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mail,
.tel {
  display: flex;
  align-items: center;
}
.header-contacts__icon{
  margin-right: 10px;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-color);
}

.header-contacts {
  margin-left: auto;
  display: none;
  .header-contacts__unit:not(:last-child) {
    margin-right: 30px;
  }
// .header-contacts__unit + .header-contacts__unit {
//   margin-left: 15px;
// }
}


.mob-menu {
  position: fixed;
  background-color: var(--primary-white-color);
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 10px 15px 0 0;
  z-index: 2;
}
.mob-container {
  padding-left: 40px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu a{
text-decoration: none;
color: var(--title-txt-color);
}
.burger-close {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  padding: 0;
  font-size: 0;
  border-width: 0;
  background-color: white;
}

  .burger-close:hover,
  .burger-close:focus {
    fill: var(--accent-txt-color);
    outline-color: var(--accent-txt-color);
    }
  .burger-close__svg{
    width: 40px;
    height: 40px;
  }
.mob-menu-list {
  font-weight: 500;
font-size: 40px;
line-height: calc(47/40) ;
letter-spacing: 0.02em;
}

.mob-menu-list__unit:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__unit a:hover,
.mob-menu-list__unit a:focus {
  color: var(--accent-txt-color);
}

.mob-contacts__unit {
  font-weight: 500;
letter-spacing: 0.02em;
}
.mob-contacts__link.tel{
  font-size: 34px;
line-height: calc(40/34);
color: var(--accent-txt-color);
margin-bottom: 32px;
}
.mob-contacts__link.mail{
  font-size: 24px;
  line-height: calc(28/24);
  margin-bottom: 64px;
  color: var(--primary-txt-color);
}
.mob-contacts__link.mail:hover,
.mob-contacts__link.mail:focus{

  color: var(--accent-txt-color );
}

.mob-hot-links {
  display: flex;
  font-size: 18px;
line-height: calc(22/18);
letter-spacing: 0.02em;

}
.mob-hot-links__unit a{
  padding: 10px;
  color: var(--accent-txt-color );
}
.mob-hot-links__unit:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-hot-links .mob-hot-links__unit:first-child a{
  padding-left: 0;
}
@media screen and (min-width:768px) {
  .header{
    .container {
      height: 80px;
    }
  }
  .burger-open {
    display: none;
  }
  .site-nav {
    margin-left: 70px;
    display: flex;
  }
  .header-contacts {
    display: flex;
    flex-direction: column;
  }
  .header-contacts .header-contacts__unit:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width:1200px) {
  .header-contacts {
    display: flex;
    flex-direction: row;
  }
  .header-contacts .header-contacts__unit:first-child {
    margin-bottom: 0px;
  }
}
/* header end */
