:root {
    --primary-txt-color: #757575;
    --title-txt-color: #212121;
    --accent-txt-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --footer-secondary-color: rgba(255, 255, 255, 0.6);
    --footer-tertiary-color: rgba(255, 255, 255, 0.1);
    --bg-main-color: #2f303a;
    --button-bg-color: #f5f4fa;
    --border-filter-box: #eeeeee;
    --border-bottom-for-nav: #ececec;
    --icon-main-color: #afb1b8;
  }